h1{
    text-align: center;
    font-style: italic;
    color: blue;
    margin: 10px;
    font-size: 50px;
}
.homepage{
    text-align: center;
    font-style: italic;
    color: black;
    margin: 10px;
    font-size: 50px;
}
.picture{
    display: flex;
    justify-content: center;
}
.all_Buttons{
    background-color: cyan;
    
}

.background {
    background-image:url("pictures/pokedex.jpg");
}

h2{
    text-align: center;
    font-style: italic;
    color: blue;
    margin: 10px;
    font-size: 26px;
}

.firstpage{
    text-align: left;
    font-style: italic;
    color: black;
    margin: 10px;
    font-size: 26px;
}

.pokeDescription,.pokeStats,.abilities,.train,.breed,.typeDefenses,.moves{
    display: flex;
    justify-content: center;
}

thead{
    background-color:rgb(13, 84, 218);
    text-align: center;
    font-weight: bold;
}

tbody{
    background-color:cornflowerblue;
    text-align: center;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
