<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/style.css">
        <title>Pokedex</title>
    </head>
    <body class = "background">
        <h1 class = "homepage">First Generation Pokedex</h1>
        <div class = "center">
            <h2 class = "firstpage">Search by:</h2>
            <form action= "http://127.0.0.1:5000/allpokemon" method = "post">
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">All Pokemon</button>
                </div>
            </form>
            <br><br>
            <form action= "http://127.0.0.1:5000/pokemonName" method = "post">
                <label for="pokeName">Pokemon's Name: </label>
                <input type="text" name="PokeName" />
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Search</button>
                </div>
            </form>
            <br><br>
            <form action= "http://127.0.0.1:5000/pokemonNumber" method = "post">
                <label for="pokeNumber">Pokemon's National Number: </label>
                <input type="text" name="PokeNumber" />
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Search</button>
                </div>
            </form>
            <br><br>
            <form action= "http://127.0.0.1:5000/pokemonType" method = "post">
                <label for="pokeType">Pokemon's Type: </label>
                <input type="text" name="PokeType" />
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Search</button>
                </div>
            </form>
            <br><br>
            <form action= "http://127.0.0.1:5000/pokemonAbility" method = "post">
                <label for="pokeAbility">Pokemon's Ability: </label>
                <input type="text" name="PokeAbility" />
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Search</button>
                </div>
            </form>
            <br><br>
            <form action= "http://127.0.0.1:5000/pokemonMoves" method = "post">
                <label for="pokeMov">Pokemon's Move: </label>
                <input type="text" name="PokeMov" />
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Search</button>
                </div>
            </form>
            <br><br>
            <form action= "http://127.0.0.1:5000/pokemonMoveBreed" method = "post">
                <label for="pokeMove">Pokemon's Move: </label>
                <input type="text" name="PokeMove" />
                <br><br>
                <label for="pokeEgg">Pokemon's Egg Group: </label>
                <input type="text" name="PokeEgg" />
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Search</button>
                </div>
            </form>
            <br><br>
            <form action= "http://127.0.0.1:5000/pokemonAbilityStats" method = "post">
                <label for="pokeAttack">Pokemon's Min attack stat: </label>
                <input type="text" name="PokeAttack" />
                <br><br>
                <label for="pokeTotal">Pokemon's Min total stat: </label>
                <input type="text" name="PokeTotal" />
                <br><br>
                <label for="pokeAbility">Pokemon's Ability: </label>
                <input type="text" name="PokeAbility" />
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Search</button>
                </div>
            </form>
        </div>
    </body>
</html>