<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/style.css">
        {% for row in name %}
        <title>{{row[0]}}</title>
        {% endfor %}
    </head>
    <body>
        <div class = "home">
            <form action = "http://127.0.0.1:5000/" method = "get">
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Home Page</button>
                </div>
            </form>
        </div>
        {% for row in name %}
        <h1>{{row[0]}}</h1>
        <div class = "picture">
            <img src="/static/pictures/{{row[0]}}.jpg"/>
        </div>
        {% endfor %}
        <div class = "center">
            <div class = "pokeDescription">
                <table>
                    <thead>
                       <td>National Number</td>
                       <td>TypeOne</td>
                       <td>TypeTwo</td>
                       <td>Generation</td>
                       <td>Description</td>
                    </thead>
                    <tbody>
                        {% for row in results %}
                        <tr>
                           <td>{{row[0]}}</td>
                           <td>{{row[1]}}</td>
                           <td>{{row[2]}}</td>
                           <td>{{row[3]}}</td>	
                           <td>{{row[4]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>
            <h2>Abilities:</h2>
            <div class = "abilities">
                <table>
                    <thead>
                       <td>Ability</td>
                       <td>Description</td>
                    </thead>
                    <tbody>
                        {% for row in results1 %}
                        <tr>
                           <td>{{row[0]}}</td>
                           <td>{{row[1]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>
            <h2>Base Stats:</h2>
            <div class = "pokeStats">
                <table>
                    <thead>
                       <td>Attack</td>
                       <td>Defense</td>
                       <td>Hp</td>
                       <td>Speed</td>
                       <td>Special Defense</td>
                       <td>Special Attack</td>
                       <td>Total</td>
                    </thead>
                    <tbody>
                        {% for row in results2 %}
                        <tr>
                           <td>{{row[0]}}</td>
                           <td>{{row[1]}}</td>
                           <td>{{row[2]}}</td>
                           <td>{{row[3]}}</td>	
                           <td>{{row[4]}}</td>
                           <td>{{row[5]}}</td>
                           <td>{{row[6]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>
            <h2>Training:</h2>
            <div class = "train">
                <table>
                    <thead>
                       <td>EV Yield</td>
                       <td>Catch Rate</td>
                       <td>Base Friendship</td>
                       <td>Base Exp.</td>
                       <td>Growth Rate</td>
                    </thead>
                    <tbody>
                        {% for row in results3 %}
                        <tr>
                           <td>{{row[0]}}</td>
                           <td>{{row[1]}}</td>
                           <td>{{row[2]}}</td>
                           <td>{{row[3]}}</td>	
                           <td>{{row[4]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>
            <h2>Breeding:</h2>
            <div class = "breed">
                <table>
                    <thead>
                       <td>Egg Group One</td>
                       <td>Egg Group Two</td>
                       <td>Gender Percentage Male</td>
                       <td>Gender Percentage Female</td>
                       <td>Egg Cycles</td>
                    </thead>
                    <tbody>
                        {% for row in results4 %}
                        <tr>
                           <td>{{row[0]}}</td>
                           <td>{{row[1]}}</td>
                           <td>{{row[2]}}</td>
                           <td>{{row[3]}}</td>	
                           <td>{{row[4]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>
            <h2>Type Defenses:</h2>
            <div class = "typeDefenses">
                <table>
                    <thead>
                       <td bgcolor="#aa9">normal</td>
                       <td bgcolor="#f42">fire</td>
                       <td bgcolor="#39f">water</td>
                       <td bgcolor="#fc3">electric</td>
                       <td bgcolor="#7c5">grass</td>
                       <td bgcolor="#6cf">ice</td>
                       <td bgcolor="#b54">fighting</td>
                       <td bgcolor="#a59">poison</td>
                       <td bgcolor="#db5">ground</td>
                    </thead>
                    <tbody>
                        {% for row in results5 %}
                        <tr>
                           <td bgcolor="#aa9">{{row[0]}}</td>
                           <td bgcolor="#f42">{{row[1]}}</td>
                           <td bgcolor="#39f">{{row[2]}}</td>
                           <td bgcolor="#fc3">{{row[3]}}</td>	
                           <td bgcolor="#7c5">{{row[4]}}</td>
                           <td bgcolor="#6cf">{{row[5]}}</td>
                           <td bgcolor="#b54">{{row[6]}}</td>
                           <td bgcolor="#a59">{{row[7]}}</td>
                           <td bgcolor="#db5">{{row[8]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <thead>
                        <td bgcolor="#89f">flying</td>
                        <td bgcolor="#f59">psychic</td>
                        <td bgcolor="#ab2">bug</td>
                        <td bgcolor="#ba6">rock</td>
                        <td bgcolor="#66b">ghost</td>
                        <td bgcolor="#76e">dragon</td>
                        <td bgcolor="#754">dark</td>
                        <td bgcolor="#aab">steel</td>
                        <td bgcolor="#e9e">fairy</td>
                     </thead>
                     <tbody>
                        {% for row in results5 %}
                        <tr>
                           <td bgcolor="#89f">{{row[9]}}</td>
                           <td bgcolor="#f59">{{row[10]}}</td>
                           <td bgcolor="#ab2">{{row[11]}}</td>
                           <td bgcolor="#ba6">{{row[12]}}</td>	
                           <td bgcolor="#66b">{{row[13]}}</td>
                           <td bgcolor="#76e">{{row[14]}}</td>
                           <td bgcolor="#754">{{row[15]}}</td>
                           <td bgcolor="#aab">{{row[16]}}</td>
                           <td bgcolor="#e9e">{{row[17]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>
            <h2>Learnable Moves:</h2>
            <div class = "moves">
                <table>
                    <thead>
                       <td>Move</td>
                       <td>Type</td>
                       <td>Category</td>
                       <td>Power</td>
                       <td>Accuracy</td>
                       <td>PP</td>
                       <td>Effect</td>
                    </thead>
                    <tbody>
                        {% for row in results6 %}
                        <tr>
                           <td>{{row[0]}}</td>
                           <td>{{row[1]}}</td>
                           <td>{{row[2]}}</td>
                           <td>{{row[3]}}</td>	
                           <td>{{row[4]}}</td>
                           <td>{{row[5]}}</td>
                           <td>{{row[6]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>
        </div>
    </body>
</html>